/*
Autor: Adrian Quevedo (http://adrianquevedo.com)
*/

/* =1 GLOBAL
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
	background-color: #eee;
	color: #333;
	line-height: 1;
	font: normal 62.5% Arial, Helvetica, sans-serif;
	vertical-align: top; }

.container{
	margin: 0 auto;
	width: 960px; }

/* Selections ----------- */
::-moz-selection {
	background: #000;
	color: #fff; }

::selection {
	background: #000;
	color: #fff; }

	::selection:window-inactive {
		background: #333;
		color: #eee; }

/* Sprited Content ----------- */
.is-sprited{
	background-image: url(../i/ui-sprite.png);
	background-repeat: no-repeat;
}

/* =2 LINKS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
a:link,
a:visited { color: #fff; }

a:hover { color: #fff; }

a:active { color: #fff; }

/* =3 HEADINGS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* =4 HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* =5 CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* =6 FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* =7 MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Viewport ----------- */
@-webkit-viewport {	width: device-width; }
@-moz-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-ms-viewport {	width: device-width; }
@viewport {	width: device-width; }

/*All ----------- */
@media all {
	.container {
		-webkit-transition: max-width 0.4s ease-in-out;
		-moz-transition: max-width 0.4s ease-in-out;
		-o-transition: max-width 0.4s ease-in-out;
		transition: max-width 0.4s ease-in-out;
	}
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio : 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

/* Print Styles ----------- */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}