// Colour palette
// ------------------------------------------------
$black: #3F3F3F;
$blue: #30B1DF;
$gray: #ACACAC;
$green: #9BC204;
$red: #EE3423;
$orange: #FF7202;
$purple: #CE3677;
$white: #F7F7F7;